@model DACS_ShoesStore.Models.RegisterViewModel
@{
    ViewBag.Title = "Register";
    Layout =null;
}
<header>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css" />
    <link href="~/Content/assets/css/sigh-in.css" rel="stylesheet" />
    <link href="~/Content/assets/css/style.css" rel="stylesheet" />


    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
    <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
            async defer>
    </script>
    @*    <h2>@ViewBag.Title.</h2>
    *@
</header>
<body>

    <section>
        <div class="img-bg">
            <img src="~/Content/assets/img/LoginArt.png" alt="LoginArt" />
        </div>
        <div class="noi-dung">
            <div class="form">
                @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                {<h2>@ViewBag.Title.</h2>

                @Html.AntiForgeryToken()
                <hr />
                @Html.ValidationSummary("", new { @class = "text-danger" })
                <div class="form-group">
                    @Html.LabelFor(m => m.UserName, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.UserName, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
                    <div class="col-md-10">
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" class="btn btn-default" value="Register" />
                    </div>
                </div>
                <div class="input-form" style="text-align: center">
                    <p>Bạn Chưa Có Tài Khoản? <a href="@Url.Action("Login", "Account")">Quay Lai Đăng Nhập</a></p>
                </div>
            }

            </div>
        </div>
    </section>
    
</body>



@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
